@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .circle {
      border-radius: 50%;
      background-color: #0000FF;
      border: 10px;
      border: solid;
      border-color: black;
    }
    .innerCircle {
      border-radius: 50%;
      background-color: #00aaff;
      border: 10px;
      border: solid;
      border-color: black;
    }
  }

@keyframes clickedAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}